= twitter_bootstrap_form_for(@collection) do |f|
  = f.inputs do
    = f.text_field :title
    
    = f.toggles 'Access' do
      = f.radio_button :public, 'Allow access only to you', false, :checked => true
      = f.radio_button :public, 'Allow access by anonymous users', true
  
  = f.actions do
    = f.submit
    - if @collection.new_record?
      = link_to 'Cancel', collections_path, :class => 'btn'
    - else
      = link_to 'Cancel', @collection, :class => 'btn'
      = link_to 'Remove', @collection, :confirm => 'Really delete?', :method => :delete, :class => ['btn', 'danger'], :style => 'float:right;'
