- title "#{@collection.title} Collection"

- content_for :head do
  = javascript_include_tag "collections"
  = stylesheet_link_tag "collections"

.row
  .span11
    %ul#photos.media-grid
      - for pc in @collection.photo_in_collections.all
        %li
          %a.thumbnail-ref{:href => 'photo_path(pc.photo)'}
            = image_tag pc.photo.image_url(:thumb).to_s, :class => 'thumbnail'
    &nbsp;
  .span5
    .well
      = link_to 'Edit', edit_collection_path(@collection), :class => 'btn'
      = link_to 'Remove collection', @collection, :confirm => 'Really delete?', :method => :delete, :class => ['btn', 'danger']
